.ComponentMenu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3vw;

  background: white;
  /* opacity: 0.8; */
}
.MenuLink{
  font-family: Suez One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  display: flex;
  width: 30vw;
  justify-content: space-around;
  margin: 10px;
  margin-left: 30%;
}
.SocialMedia{
  
}
img.icon{
  flex-direction: row;
  width: 30px;
  height: 30px;
  margin: 10px;
}

.LogoMenuBarImg{
height: 30px;
margin: 10px;
}